#about {
  background: linear-gradient(to bottom, #8eaecd00, #3630629e); 
}

.flower-bg {
  background-image: url("fuckthis");
  background-repeat: no-repeat;
  background-size: 50%;
}
#cv-container {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  padding: 10%;
  text-align: center;
  letter-spacing: 0.1rem;
}

#cv-container > * {
  margin: 2% 0;
}

#cv-container h2, #cv-container h3 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.2rem;
}

#cv-container ul li {
  min-height: 5rem;
  list-style-type: none;
  margin-bottom: 10%;
  padding: 0 5% 2%;
  border-top: 1px solid white;

}

#cv-container ul li {
  list-style-type: none;
  margin-bottom: 10%;
}
