/* From Desktop Media Query breakpoint*/
@media (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  /* Hero  */
  .intro-text {
    margin: 10% auto;
  }

  .intro-text h2 {
    padding: 0 20%;
  }

  .eye-container img {
    display: inline;
    top: -10%;
 }

  /* About section  */
  #cv-container {
    margin: 0;
  }

  /* About Section  */
  #contact {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #contact article div {
    margin-top: 5%;
  }

  /* Footer Section  */

  footer a {
    font-size: 2rem;
  }
}
