* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    background: black;
    background-image: url("../imgs/lines-background-min.png");
    background-size: 30%;
    background-repeat: repeat;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.2rem;
  }

  /* Contact Section  */
  #contact {
    margin: 10%;
    display: flex;
    flex-direction: column;
  }

  #contact article div {
    margin-top: 10%;
  }

  #contact article div p {
    padding: 0.5rem;
    letter-spacing: 0.2rem;
  }

  /* Footer Section  */
footer {
  height: 10rem;
  background: linear-gradient(to bottom, #8eaecd00, #3630629e); 
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin: 20% 0 0;
}

footer a {
  color: white;
  font-size: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
}

