#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Eye Stuff Section  */
.eye-container {
  overflow-x: hidden;
  max-width: 100%;
}

.eye-animation {
  opacity: 0;
  transition: fade ease-in-out;
  animation: eyeAnimation 9s infinite;
} 

.eye-container img {
  max-width: 100%;
  transform: scale(1.2) translateX(-5%);
  transform-origin: top left;
  height: auto;
  display: block;
  left: -15%;
  position: absolute;
}

/* Intro section*/
.intro-text {
  text-align: center;
  max-width: 70vw;
  margin: 30% auto;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.intro-text h1 {
  font-weight: 300;
  line-height: 3rem;
  font-size: 2.5rem;
  margin: 10px 0;
}

.intro-text h2 {
  font-size: 1.2rem;
  margin: 5px 0;
}

.main-intro-container {
  overflow-x: hidden;
  max-width: 100%;
  width: 150%;
  margin: 0;
}

.dove-img {
  position: relative;
  margin-top: -15rem;
  padding-top: -10%;
  left: -20%;
  width: 150%;
}



