* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: black;
  background-image: url("../imgs/lines-background-min.png");
  background-size: 30%;
  background-repeat: repeat;
  color: white;
}

/* Eye Stuff Section  */
.eye-container {
  position: absolute;
  width: 120vw;
  top: -1%;
  left: -17%;
}

.eye-animation {
  opacity: 0;
  transition: fade ease-in-out;
  width: 100%;
  animation: eyeAnimation 9s infinite;
} 

.eye-container img {
  width: 100%;
  position: absolute;
}

/* Main */
.intro-text {
  text-align: center;
  max-width: 70vw;
  margin: 0 auto;
}

.intro-text h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.intro-text h2 {
  font-size: 1.2rem;
  margin: 5px 0;
}
.dove-img {
  position: absolute;
  top: 10%;
  left: -20%;
  width: 150%;
}
/* Small Desktop Media Query */
@media (min-width: 1024px) {
  .eye-container {
    top: -9%;
    left: -1%;
    width: 50vw;
    height: 50vh;
  }

  .eye-container img {
  transform: rotate(-14deg);
   height: 110%;
   width: 100%;
  }

  .eye-animation {
    animation: none;
  }

}
