* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: black;
  background-image: url("../imgs/lines-background-min.png");
  background-size: 30%;
  background-repeat: repeat;
  color: white;
}

/* Eye Stuff Section  */
.eye-container {
  position: absolute;
  width: 120vw;
  top: -1%;
  left: -17%;
}

.eye-animation {
  opacity: 0;
  transition: fade ease-in-out;
  width: 100%;
  animation: eyeAnimation 9s infinite;
} 

.eye-container img {
  width: 100%;
  position: absolute;
}

/* Main */

/* Small Desktop Media Query */
@media (min-width: 1024px) {
  .eye-container {
    top: -9%;
    left: -1%;
    width: 50vw;
    height: 50vh;
  }

  .eye-container img {
  transform: rotate(-14deg);
   height: 110%;
   width: 100%;
  }

  .eye-animation {
    animation: none;
  }

}
