* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 3px solid red;
    background: black;
    background-image: url("../imgs/lines-background-min.png");
    background-size: 30%;
    background-repeat: repeat;
    
}

.blob {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Makes the shape circular */
    background: radial-gradient(circle, white 30%, transparent 70%);
  }
  

.eye-container {
    position: absolute;
    width: 50vw;
    top: 0;
    left: 0;
}

.eye-animation{ 
    opacity: 0;
    transition: fade ease-in-out;
    width: 100%;
    animation: eyeAnimation 9s infinite ;
}



@keyframes eyeAnimation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


.eye-container img {
    width: 100%;
    position: absolute;
}

/* Small Desktop Media Query */
@media (min-width: 1024px) {

    .eye-container {
        width: 20vw;
    
    }

    .eye-animation{ 
        transition: fade ease-in-out;
        width: 100%;
        animation: none ;
    }
    
 
    
    .eye-container img:nth-child(1){
        opacity: 1;
    }
    
    .eye-container img:nth-child(2){
        opacity: 0;
    }
    
    .eye-container:hover img:nth-child(1){
        opacity: 0;
    }
    
    .eye-container:hover img:nth-child(2){
        opacity: 1;
    }
  }