nav {
    background: black;
    border: 2px solid white;
    text-transform: lowercase;
    letter-spacing: 0.2rem;
    position: fixed;
    top: 0;
    margin-top: 2px;
    width: 100%;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0 10%;
}

nav ul li {
    padding: 5%;

}

nav ul li a {
    text-decoration: none;
    color: white;
}

.active-nav {
background-color: transparent;
  background-image: url(/imgs/nav-eyes-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200% 400%;
  font-weight: bold;
}