nav {
    /* background: transparent; */
    /* background-image: url(/imgs/lines-background-min.png); */
    /* background-size: contain; */
    text-transform: lowercase;
    letter-spacing: 0.2rem;
    position: fixed;
    /* top: 0; */
    left: 0;
    margin: 20vh 0;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    list-style: none;
}

nav ul li {
    transform-origin: top left;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.active-nav {
  /* background-image: url(/imgs/nav-eyes-min.png); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: 200% 400%; */
  font-weight: bolder;
  color: #FF90C2;
}